{{extend 'layout.html'}}

{{block page_name}} Inicio {{end}}

{{block content}}


    <div align='center'>
    <h3>Software de Planeamiento y Presupuesto</h3>
    {{=IMG(_src=URL('static','images/logo_saludpol.png'), _alt="Logo SALUDPOL")}}
    </div>
{{end}}
