<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{=response.title or request.application}}</title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <!-- Ionicons -->
        <link href="//code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css" rel="stylesheet" type="text/css" />

        <!-- Theme style -->
        <link href={{=URL('static', 'css/AdminLTE.css')}} rel="stylesheet" type="text/css" />

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>
    <body class="skin-blue">

        <div class="form-box" id="login-box">
            <div class="header bg-light-blue">Iniciar Sesión en SaludPol</div>
            <form action="#" method="post">
                <div class="body bg-gray">
                    <div class="form-group">
                        <input type="text" name="email" class="form-control" placeholder="Email"/>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control" placeholder="Password"/>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="remember_me"/> Recuérdame (durante 30 días)
                    </div>
                </div>

                <div class="footer">
                    <button type="submit" class="btn bg-light-blue btn-block">Iniciar Sesión</button>

                    {{if not 'request_reset_password' in auth.settings.actions_disabled:}}
                        <p><a href="{{=URL('user', args='request_reset_password')}}">I forgot my password</a></p>
                    {{pass}}

                    {{if not 'register' in auth.settings.actions_disabled:}}
                        <a href="{{=URL(args='register', vars={'_next': request.vars._next} if request.vars._next else None)}}" class="text-center">Register a new membership</a>
                    {{pass}}

                </div>
                {{=form.custom.end}}
            </form>

        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js" type="text/javascript"></script>

        <script language="javascript">
            $("#web2py_user_form input:visible:enabled:first").focus();
                {{if request.args(0)=='register':}}
                    web2py_validate_entropy(jQuery('#auth_user_password'),100);
                {{elif request.args(0)=='change_password':}}
                    web2py_validate_entropy(jQuery('#no_table_new_password'),100);
                {{pass}}
        </script>
    </body>
</html>
