{{extend 'layout.html'}}

{{block page_name}} {{=T( request.args(0).replace('_',' ').capitalize() )}} {{end}}

{{block content}}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body table-responsive">
                    {{=form}}
                </div>
            </div>
        </div>
    </div>
{{end}}

{{block extra_js}}
    <script language="javascript"><!--
    jQuery("#web2py_user_form input:visible:enabled:first").focus();
    {{if request.args(0)=='register':}}
        web2py_validate_entropy(jQuery('#auth_user_password'),100);
    {{elif request.args(0)=='change_password':}}
        web2py_validate_entropy(jQuery('#no_table_new_password'),100);
    {{pass}}
    //--></script>
{{end}}