{{extend 'layout.html'}}

{{block page_name}} Actividades por Objetivos {{end}}

{{block content}}
    <table border="1">
        <tr>
            <td>Objetivo General</td>
            <td>Objetivo Especifico</td>
            <td>Programar Actividad</td>
        </tr>
        {{for key in content:}}
        <tr>
            {{for row in content[key]:}}
            <td>{{=row}}</td>
            {{pass}}
            <td>{{=A('Actividad', _href=URL('service', 'actividad', vars=dict(objetivo_referencia=key)))}}</td>
        </tr>
        {{pass}}
    </table>
{{end}}
