{{extend 'layout.html'}}

{{block page_name}} Presupuesto Por Actividad {{end}}

{{block content}}
    {{=form}}
    {{if 'presupuestos.actividad' in request.args:
          total = 0
          data = db(db.presupuestos.actividad==request.args[2]).select(db.presupuestos.costo_total)
          for row in data:
            total += row.costo_total
          pass
    }}
    <div align="right">
        Total: S/. <strong>{{=total}}</strong>
    </div>
    {{pass}}
    <div align="right">
        Monto Total: S/. <strong>{{="{:,.2f}".format(monto_total)}}</strong>
    </div>
{{end}}

