{{extend 'layout.html'}}

{{block page_name}} Reporte por Centro de Costo y Actividad {{end}}

{{block content}}
    {{=form}}

    <table border="1">
    <tr>
        <td>Centro de Costo</td>
        <td>Objetivo General</td>
        <td>Objetivo Especifico</td>
        <td>Meta Presupuestal</td>
        <td>Actividad</td>
        <td>Unidad Medida</td>
        <td>Meta Fisica</td>
        <td>Primer Trimestre</td>
        <td>Segundo Trimestre</td>
        <td>Tercer Trimestre</td>
        <td>Cuarto Trimestre</td>
        <td>Presupuesto</td>
    </tr>
    {{for row in lines:}}
        <tr>
            <td style="text-align:left">{{=row[0]}}</td>
            <td style="text-align:left">{{=row[1]}}</td>
            <td style="text-align:left">{{=row[2]}}</td>
            <td style="text-align:left">{{=row[3]}}</td>
            <td style="text-align:left">{{=row[4]}}</td>
            <td style="text-align:left">{{=row[5]}}</td>
            <td style="text-align:left">{{=row[6]}}</td>
            <td style="text-align:left">{{=row[7]}}</td>
            <td style="text-align:left">{{=row[8]}}</td>
            <td style="text-align:left">{{=row[9]}}</td>
            <td style="text-align:left">{{=row[10]}}</td>
            <td style="text-align:right">{{=row[11]}}</td>
        </tr>
    {{pass}}
    </table>
    {{=A(T('Descargar CSV'), _href=URL('get_csv', vars=dict(file_name=csv_path)))}}
{{end}}