{{extend 'layout.html'}}

{{block page_name}} Reporte x Especifica de Gasto: {{=nombre_area}} {{end}}

{{block content}}
    {{=form}}
    {{suma_total=0 }}
    {{total_mes={} }}
    {{
        for num in range(1,13):
            total_mes[num] = 0
        pass
    }}
    <table border="1">
    <tr>
        <td>Especifica Gasto</td>
        <td>Nombre</td>
        <td>Total S/.</td>
        <td>Ene</td>
        <td>Feb</td>
        <td>Mar</td>
        <td>Abr</td>
        <td>May</td>
        <td>Jun</td>
        <td>Jul</td>
        <td>Ago</td>
        <td>Set</td>
        <td>Oct</td>
        <td>Nov</td>
        <td>Dic</td>
    </tr>
    {{for line in data:}}
    <tr>
        <td>{{=line}}</td>
        <td>{{=data[line]['nombre']}}</td>
        <td style="text-align:right">{{="{:,.2f}".format(data[line]['total'])}}</td>
        {{suma_total+=float(data[line]['total'])}}
        {{for num in range(1,13):}}
            <td style="text-align:right">{{="{:,.2f}".format(data[line]['mes_%s' % num])}}</td>
            {{total_mes[num] += float(data[line]['mes_%s' % num])}}
        {{pass}}
    </tr>
    {{pass}}
    <tr>
        <td></td>
        <td></td>
        <td style="text-align:right">{{="{:,.2f}".format(suma_total)}}</td>
        {{for num in range(1,13):}}
            <td style="text-align:right">{{="{:,.2f}".format(total_mes[num])}}</td>
        {{pass}}
    </tr>
    </table>
{{end}}