{{extend 'layout.html'}}

{{block page_name}} Reporte Diferencial {{end}}

{{block extra_css}}
    <!-- DATA TABLES -->
    <link href={{=URL('static', 'css/datatables/dataTables.bootstrap.css')}} rel="stylesheet" type="text/css" />
{{end}}

{{block content}}
    {{=form}}
    {{
    total = total_actividades+total_gastos_fijos
    saldo = round(techo_programado-total,2)
    }}

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body table-responsive">
                    <table id="table1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Presupuesto Institucional de Apertura</th>
                                <th>Techo Programado</th>
                                <th>Saldo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="text-align:right"><strong>{{="{:,.2f}".format(round(techo_programado,2))}}</strong></td>
                                <td style="text-align:right"><strong>{{="{:,.2f}".format(round(total,2))}}</strong></td>
                                <td style="text-align:right"><strong>{{="{:,.2f}".format(saldo)}}</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Gastos Fijos</h3>
                </div>
                <div class="box-body table-responsive">
                    <table id="table2" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Descripción del Gasto</th>
                                <th>Específica de Gasto</th>
                                <th>Meta Presupuestal</th>
                                <th>Importe</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{for row in fijos:}}
                                <tr>
                                <td>{{=row[0]}}</td>
                                <td>{{=row[1]}}</td>
                                <td>{{=row[2]}}</td>
                                <td style="text-align:right">{{="{:,.2f}".format(round(row[3],2))}}</td>
                                </tr>
                            {{pass}}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th>Sub Total</th>
                                <th></th>
                                <th style="text-align:right">{{="{:,.2f}".format(round(total_gastos_fijos,2))}}</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Actividades</h3>
                </div>
                <div class="box-body table-responsive">
                    <table id="table3" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Editar</th>
                                <th>Nombre de la Actividad</th>
                                <th>Meta Presupuestal</th>
                                <th>Presupuesto por Actividad</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{for row in data:}}
                                <tr>
                                <td>{{=A(T('%s' % row[0]), _href=URL('editar_actividad', vars=dict(actividad=row[0])))}}</td>
                                <td>{{=row[1]}}</td>
                                <td>{{=row[2]}}</td>
                                <td style="text-align:right">{{="{:,.2f}".format(round(row[3],2))}}</td>
                                </tr>
                            {{pass}}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>Sub Total</th>
                                <th style="text-align:right">{{="{:,.2f}".format(round(total_actividades,2))}}</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
{{end}}

{{block extra_js}}
    <!-- DATA TABES SCRIPT -->
    <script src={{=URL('static','js/plugins/datatables/jquery.dataTables.js')}} type="text/javascript"></script>
    <script src={{=URL('static','js/plugins/datatables/dataTables.bootstrap.js')}} type="text/javascript"></script>

    <!-- page script -->
    <script type="text/javascript">
        $(function() {
            $("#table2, #table3").dataTable({
                "bPaginate": true,
                "bLengthChange": true,
                "bFilter": false,
                "bSort": false,
                "bInfo": false,
                "bAutoWidth": false
            });
        });
    </script>
{{end}}