{{extend 'layout.html'}}

{{block page_name}} Reporte x Especifica de Gasto: {{=nombre_area}} {{end}}

{{block content}}
    {{=form}}
    <table border="1">
    <tr>
        <td></td>
        <td>Especifica Gasto</td>
        <td>Nombre</td>
        <td>Total S/.</td>
        <td>Ene</td>
        <td>Feb</td>
        <td>Mar</td>
        <td>Abr</td>
        <td>May</td>
        <td>Jun</td>
        <td>Jul</td>
        <td>Ago</td>
        <td>Set</td>
        <td>Oct</td>
        <td>Nov</td>
        <td>Dic</td>
    </tr>
    {{pos = 0}}
    {{for cols in data:}}
    {{pos += 1}}
    <tr>
        <td>{{=pos}}</td>
        {{for col in cols:}}
        <td style="text-align:right">{{=col}}</td>
            {{pass}}
    </tr>
    {{pass}}
    </table>
    {{=A(T('Descargar CSV'), _href=URL('get_csv', vars=dict(file_name=csv_path)))}}
{{end}}