{{extend 'layout.html'}}

{{block page_name}} Presupuestos {{end}}

{{block content}}
    {{suma_total=0}}
    {{old_centro_costo = None}}
    <h1>Reporte por Centro de Costo y Actividad: {{=nombre_area}}</h1>
    {{=form}}

    <table border="1">
    <tr>
        <td>Centro de Costo</td>
        <td>Objetivo General</td>
        <td>Objetivo Especifico</td>
        <td>Meta Presupuestal</td>
        <td>Actividad</td>
        <td>Unidad Medida</td>
        <td>Meta Fisica</td>
        <td>Primer Trimestre</td>
        <td>Segundo Trimestre</td>
        <td>Tercer Trimestre</td>
        <td>Cuarto Trimestre</td>
        <td>Presupuesto</td>
    </tr>
    {{for row in data:}}
    {{
            objetivo_general = row.asignacion_objetivos.objetivo_general
            objetivo_especifico = row.asignacion_objetivos.objetivo_especifico
            meta_presupuestal = row.centros_costos.meta
            actividad = row.actividades.id
            unidad_medida = row.actividades.unidad_medida
            meta_fisica = row.actividades.meta
            centro_costo = row.actividades.centro_costo
            area = row.actividades.area
            data = []
    }}
    {{
            for val in range(1,13):
                tmp = 'mes_%s' % val
                try:
                    val = int(row.actividades[tmp])
                except:
                    val = 0
                pass
                data.append(val)
            pass
            primer_trimestre = data[0] + data[1] + data[2]
            segundo_trimestre = data[3] + data[4] + data[5]
            tercer_trimestre = data[6] + data[7] + data[8]
            cuarto_trimestre = data[9] + data[10] + data[11]
    }}
    <tr>
        {{try:}}
        {{nombre_centro_costo=db.centros_costos(db.centros_costos.id==centro_costo)['nombre']}}
        {{except:}}
        {{nombre_centro_costo=''}}
        {{pass}}
        <td>{{=nombre_centro_costo}}</td>
        {{try:}}
        {{objetivo_nombre=db.objetivos_generales(db.objetivos_generales.id==objetivo_general)['objetivo']}}
        {{except:}}
        {{objetivo_nombre=''}}
        {{pass}}
        <td>{{=objetivo_nombre}}</td>
        {{try:}}
        {{objetivo_nombre=db.objetivos_especificos(db.objetivos_especificos.id==objetivo_especifico)['objetivo']}}
        {{except:}}
        {{objetivo_nombre=''}}
        {{pass}}
        <td>{{=objetivo_nombre}}</td>
        {{try:}}
        {{meta_nombre=db.metas(db.metas.id==meta_presupuestal)['codigo']}}
        {{except:}}
        {{meta_nombre=''}}
        {{pass}}
        <td>{{=meta_nombre}}</td>
        {{try:}}
        {{actividad_nombre=db.actividades(db.actividades.id==actividad)['actividad']}}
        {{except:}}
        {{actividad_nombre=''}}
        {{pass}}
        <td>{{=actividad_nombre}}</td>
        {{try:}}
        {{unidad_medida_nombre=db.unidades_medidas(db.unidades_medidas.id==unidad_medida)['nombre']}}
        {{except:}}
        {{unidad_medida_nombre=''}}
        {{pass}}
        <td>{{=unidad_medida_nombre}}</td>
        <td style="text-align:right">{{=meta_fisica}}</td>
        <td style="text-align:right">{{=primer_trimestre}}</td>
        <td style="text-align:right">{{=segundo_trimestre}}</td>
        <td style="text-align:right">{{=tercer_trimestre}}</td>
        <td style="text-align:right">{{=cuarto_trimestre}}</td>
        {{if actividad in suma_actividades:}}
        <td style="text-align:right">{{=suma_actividades[actividad]}}</td>
        {{else:}}
        <td style="text-align:right">0</td>
        {{pass}}
        {{
        try:
            suma_total += suma_actividades[actividad]
        except:
            suma_total += 0
        pass
        }}
    </tr>
    {{pass}}
    <tr>
        <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>TOTAL:</td>
        <td style="text-align:right">{{="{:,.2f}".format(suma_total)}}</td>
    </tr>
    </table>
{{end}}


