{{extend 'layout.html'}}

{{block page_name}}  {{end}}

{{block content}}
    <h1>Actividades con Inconsistencias</h1>
    <h3>Centros de Costos</h3>
    {{=errores_centros}}
    <h3>Especificas</h3>
    {{=errores_especificas}}
    <h3>Objetivos</h3>
    {{=errores_objetivos}}
{{end}}
