{{extend 'layout.html'}}

{{block extra_css}}
    <!-- DATA TABLES -->
    <link href={{=URL('static', 'css/datatables/dataTables.bootstrap.css')}} rel="stylesheet" type="text/css" />
{{end}}

{{block page_name}} Matriz 2 {{end}}

{{block content}}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="control-group text-right">
                    {{=A(T('Descargar CSV'), _class="btn btn-primary", _role="button", _href=URL('get_csv', vars=dict(file_name=csv_path)))}}
                </div>

                <div class="box-body table-responsive">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                {{for row in headers:}}
                                    <th>{{=row}}</th>
                                {{pass}}
                            </tr>
                        </thead>
                        <tbody>
                            {{for line in data:}}
                                <tr>
                                    {{for colum in line:}}
                                        <td>{{=colum}}</td>
                                    {{pass}}
                                </tr>
                            {{pass}}
                        </tbody>
                        <tfoot>
                            {{for colum in footers:}}
                                <th>{{=colum}}</th>
                            {{pass}}
                        </tfoot>
                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>
    </div>
{{end}}

{{block extra_js}}
    <!-- DATA TABES SCRIPT -->
    <script src={{=URL('static','js/plugins/datatables/jquery.dataTables.js')}} type="text/javascript"></script>
    <script src={{=URL('static','js/plugins/datatables/dataTables.bootstrap.js')}} type="text/javascript"></script>

    <!-- page script -->
    <script type="text/javascript">
        $(function() {
            $("#example1").dataTable();
            $('#example2').dataTable({
                "bPaginate": true,
                "bLengthChange": false,
                "bFilter": false,
                "bSort": true,
                "bInfo": true,
                "bAutoWidth": false
            });
        });
    </script>
{{end}}