{{extend 'layout.html'}}

{{block page_name}} Metas, Actividades y Clasificadores {{end}}

{{block content}}
    <table border="1">
        <tr>
        {{for head in headers:}}
            <td style="text-align:center">{{=head}}</td>
        {{pass}}
        </tr>
        {{for line in actividades:}}
        <tr>
            <td>{{=line[0]}}</td>
            <td>{{=line[1]}}</td>
            <td style="text-align:right">{{=line[2]}}</td>
            <td style="text-align:right">{{=line[3]}}</td>
        </tr>
        {{pass}}
    </table>

    {{=A(T('Descargar CSV'), _href=URL('get_csv', vars=dict(file_name=csv_path)))}}
{{end}}