{{extend 'layout.html'}}

{{block page_name}} Reporte de Metas Presupuestales {{end}}

{{block content}}
    <table border="1">
        <tr>
            <td style="text-align:center">Centro Costo</td>
            <td style="text-align:center">Meta</td>
            <td style="text-align:center">PIA</td>
            <td style="text-align:center">Presupuesto</td>
            <td style="text-align:center">Saldo</td>
        </tr>
        {{for line in actividades:}}
           <tr>
               <td>{{=line[0]}}</td>
               <td>{{=line[1]}}</td>
               <td style="text-align:right">{{=line[2]}}</td>
               <td style="text-align:right">{{=line[3]}}</td>
               <td style="text-align:right">{{=line[4]}}</td>
           </tr>
        {{pass}}
    </table>
{{end}}
