{{extend 'layout.html'}}

{{block extra_css}}
    <!-- DATA TABLES -->
    <link href={{=URL('static', 'css/datatables/dataTables.bootstrap.css')}} rel="stylesheet" type="text/css" />

    <link href={{=URL('static', 'css/daterangepicker/daterangepicker-bs3.css')}} rel="stylesheet" type="text/css" />
{{end}}

{{block page_name}} Devengue {{end}}

{{block content}}
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-body">
                    {{=form}}
                    {{if compromiso is not None:}}
                </div>
            </div>
        </div>
    </div>


    <form role="form" action="devengar" method="post">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Proveedor : {{=nombre_proveedor}}</h3>
                    </div>
                    <div class="box-body">
                        <input type="hidden" name="compromiso" id="compromiso" value='{{=compromiso}}'>
                        <div class="form-group form-inline">
                            <div class="form-group form-inline">
                                <label>Tipo de Comprobante: </label>
                                <select id="tipo_comprobante" name="tipo_comprobante">
                                    {{for line in tipos_comprobantes:}}
                                      <option value="{{=line.id}}">{{=line.nombre}}</option>
                                    {{pass}}
                                </select>
                            </div>
                            <div class="form-group form-inline">
                                <label>No. Comprobante: </label>
                                <input type="text" name="comprobante" id="comprobante" >
                            </div>
                            <div class="form-group form-inline">
                                <label>Fecha Comprobante: </label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" name="comprobante" id="fecha_comprobante" class="form-control pull-right">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Compromisos</h3>
                        <div class="box-tools">
                            <div class="input-group">
                                <input type="text" name="table_search" class="form-control input-sm pull-right" style="width: 150px;" placeholder="Search"/>
                                <div class="input-group-btn">
                                    <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tr>
                                <th>Seleccionar</th>
                                <th>Producto/Servicio</th>
                                <th>Observaciones</th>
                                <th>Año</th>
                                <th>Mes</th>
                                <th>Monto</th>
                            </tr>
                            {{for line in data:}}
                                <tr>
                                    {{
                                    id = line.id
                                    certificacion_detalle = line.certificacion_detalle
                                    producto = db.certificaciones_detalles(db.certificaciones_detalles.id==certificacion_detalle)['producto']
                                    data_producto = db.productos(db.productos.id==producto)['descripcion']
                                    observaciones = line.observaciones
                                    ano = line.ano
                                    mes = line.mes
                                    monto = line.monto
                                    }}
                                    <td><input type="checkbox" id="{{=id}}" name="compromiso_detalle" value="{{=id}}"></td>
                                    <td>{{=data_producto}}</td>
                                    <td>{{=observaciones}}</td>
                                    <td>{{=ano}}</td>
                                    <td>{{=mes}}</td>
                                    <td><input type="text" style="text-align:right;width: 50px" id="monto_{{=id}}" value="{{=monto}}" size="10" readonly></td>
                                </tr>
                            {{pass}}
                            <tr>
                                <td></td><td>Total:</td><td></td><td></td><td></td>
                                <td><input type="text" style="text-align:right;width: 50px" name="gran_total" id="gran_total" size="10" readonly></td>
                            </tr>
                        </table>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div>
        </div>

        <div align="center"><input type="submit" value="Procesar"/></div>
    </form>
    {{pass}}
{{end}}

{{block extra_js}}
    <script src={{=URL('static', 'js/plugins/daterangepicker/daterangepicker.js')}} type="text/javascript"></script>


    <script type="text/javascript">
        $(function() {
            $('#fecha_comprobante').daterangepicker();
        });
    </script>
{{end}}