{{extend 'layout.html'}}

{{block page_name}} Pagados {{end}}

{{block content}}
    {{=form}}
    <form action="seleccionar_pago" method="post">
        <input type="hidden" name="compromiso" id="compromiso" value='{{=compromiso}}'></td>
        <table border="1" width="100%">
            {{for line in data:}}
            <tr>
                {{
                id = line.id
                comprobante_pago = line.comprobante_pago
                nombre_comprobante = db.comprobantes(db.comprobantes.id==comprobante_pago)['nombre']
                #data_producto = db.productos(db.productos.id==producto)['descripcion']
                numero_comprobante = line.numero_comprobante
                monto = line.monto
                }}
                <td><a href="{{=URL('seleccionar_pago',args=[id,compromiso,monto,nombre_comprobante,numero_comprobante,nombre_proveedor])}}">{{=id}}</a></td>
                <td>{{=nombre_comprobante}}</td>
                <input type="hidden" name="comprobante_pago" id="comprobante_pago" value='{{=nombre_comprobante}}'></td>
                <td><input type="text" style="text-align:left;width: 200px" id="nombre_proveedor" name="nombre_proveedor" value="{{=nombre_proveedor}}" size="50" readonly></td>
                <td><input type="text" style="text-align:left;width: 80px" id="numero_comprobante" name="numero_comprobante" value="{{=numero_comprobante}}" size="20" readonly></td>
                <td><input type="text" style="text-align:right;width: 50px" id="monto" name="monto" value="{{=monto}}" size="15" readonly></td>
            </tr>
            {{pass}}
        </table>
    </form>
{{end}}
