{{extend 'layout.html'}}

{{block page_name}} Desglose de Pago - {{=nombre_proveedor}} {{end}}

{{block content}}
    {{=form}}
    <div align="right">
    <strong>Monto Total: S/. {{=monto_total}}</strong>
    </div>
    <br/>
    <div align="right">
    <strong>Saldo A Liquidar: S/. {{=saldo}}</strong>
    </div>
{{end}}